@model List<OpenHouse.Model.Core.Model.vwproperty>

@{
}

<div class="table-responsive">
    <table class="table table-sm table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th>Address</th>
                <th class="text-center">Class</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var property in Model)
            {
                <tr>
                    <td>
                        @property.propertyId
                    </td>
                    <td>
                        @property.contactAddress
                    </td>
                    <td class="text-center">
                        @property.propertyClass
                    </td>
                    @if (ViewBag.DisplayType == "selector")
                    {
                        <td class="text-center">
                            <a class="btn btn-light" onclick="selectProperty(@property.propertyId, '@property.contactAddress');">Select</a>
                        </td>
                    }
                    else
                    {
                        <td align="center">
                            <a class="btn btn-light" onauxclick="window.open('@Url.Action("Details", "Properties", new { @id = property.propertyId })');" onclick="window.open('@Url.Action("Details", "Properties", new { @id = property.propertyId })');">View</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>