@model OpenHouse.Model.Core.Model.action

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>action</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.assignedUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.assignedUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actionDueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actionDueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actionCompletedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actionCompletedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updatedByUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updatedByUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updatedDT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updatedDT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdByUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdByUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdDT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdDT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.actionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.actionType.actionTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tenancy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tenancy.tenancyId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.actionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
