@model List<OpenHouse.Model.Core.Model.vwtenancy>

@{
}

<div class="table-responsive">
    <table class="table table-sm table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th>Address</th>
                <th class="text-center">Lead Tenant</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tenancy in Model)
            {
                <tr>
                    <td class="text-center">
                        @tenancy.tenancyId
                    </td>
                    <td>
                        @tenancy.contactAddress
                    </td>
                    <td class="text-center">
                        @tenancy.leadTenant
                    </td>
                    <td align="center">
                        <a class="btn btn-light" onauxclick="window.open('@Url.Action("Details", "Tenancies", new { @id = tenancy.tenancyId })');" onclick="window.open('@Url.Action("Details","Tenancies",new { @id = tenancy.tenancyId })');">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>