@model OpenHouse.Model.Core.Model.TenancyViewModel

@{
    ViewData["Title"] = "Details";
}

@section Scripts {
    <script type="text/javascript">

        var _apiLocation = '@ViewBag.ApiLocation'; //Set API location URL
        var _loggedInUserId = '@ViewBag.LoggedInUserId'; //Set logged in user Id

        //Save active tab & navigate back to on refresh
        $(document).ready(function () {
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) { //On tab selected
                localStorage.setItem('activeTabTenancy', $(e.target).attr('href')); //log selected tab to local storage
            });

            if (performance.navigation.type == 1) { //If page is refreshes or accessed via location.reload()
                console.info("This page is reloaded");

                var activeTab = localStorage.getItem('activeTabTenancy'); //Retrieve active tab from local storage

                if (activeTab) {
                    $('.nav-tabs a[href="' + activeTab + '"]').tab('show'); //Select active tab
                }
            }
        });
    </script>
}

@*Include note manager view component *@
@await Component.InvokeAsync("Note")

@*Include action manager view component*@
@await Component.InvokeAsync("Action")

@*Include tenancy household manager view component*@
@await Component.InvokeAsync("TenancyHousehold")

@*Include alert manager view component*@
@await Component.InvokeAsync("Alert")

@*Include user selector partial view*@
@await Html.PartialAsync("~/Views/Users/_UserSelector.cshtml")

@*Include person selector partial view*@
@await Html.PartialAsync("~/Views/Persons/_PersonSelector.cshtml")

<div class="row mt-4">
    <div class="col-md-6">
        <h4><i class="fas fa-house-user"></i>&nbsp;Tenancy Details</h4>
    </div>
    <div class="col-md-6">
        <input type="button" class="btn btn-outline-primary float-right ml-1" onClick="window.open('', '_self').close();" value="Done" />
        <a class="btn btn-outline-primary float-right ml-1" asp-action="Edit" asp-route-id="@Model.tenancyId">Edit</a>
    </div>
</div>
<hr />
@*Display active alerts component*@
@await Component.InvokeAsync("AlertDisplay", new { @tenancyId = Model.tenancyId })

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="household-tab" data-toggle="tab" href="#household" role="tab" aria-controls="household" aria-selected="false">Household Members</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="rentledger-tab" data-toggle="tab" href="#rentledger" role="tab" aria-controls="rentledger" aria-selected="false">Rent Ledger</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="alerts-tab" data-toggle="tab" href="#alerts" role="tab" aria-controls="alerts" aria-selected="false">Alerts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="actions-tab" data-toggle="tab" href="#actions" role="tab" aria-controls="actions" aria-selected="false">Actions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="false">Notes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="audit-tab" data-toggle="tab" href="#audit" role="tab" aria-controls="audit" aria-selected="false">Audit</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
        <div class="row mt-4">
            <div class="col-md-6">
                <dl>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.propertyId)
                    </dt>
                    <dd class="col-sm-10 border border border-secondary rounded mt-2">
                        @Html.DisplayFor(model => model.propertyId)
                    </dd>
                    <dt class="col-sm-10">
                        Address
                    </dt>
                    <dd class="col-sm-10 border border border-secondary rounded mt-2">
                        @Html.DisplayFor(model => model.property.contactAddress)
                    </dd>
                    <dt class="col-sm-10">
                        Lead Tenant
                    </dt>
                    <dd class="col-sm-10 border border border-secondary rounded mt-2 pr-0">
                        @Model.leadTenantPerson.firstName&nbsp;@Model.leadTenantPerson.surname
                        <a class="btn btn-sm btn-light float-right" onauxclick="window.open('@Url.Action("Details", "Persons", new { @id = Model.leadTenantPerson.personId })');" onclick="window.open('@Url.Action("Details","Persons",new { @id = Model.leadTenantPerson.personId })');">View</a>
                    </dd>
                    <dt class="col-sm-10">
                        Joint Tenant
                    </dt>
                    <dd class="col-sm-10 border border border-secondary rounded mt-2 pr-0">
                        @if (Model.jointTenantPersonId.HasValue)
                        {
                            @Model.jointTenantPerson.firstName @:&nbsp; @Model.jointTenantPerson.surname
                            <a class="btn btn-sm btn-light float-right" onauxclick="window.open('@Url.Action("Details", "Persons", new { @id = Model.jointTenantPerson.personId })');" onclick="window.open('@Url.Action("Details", "Persons", new { @id = Model.jointTenantPerson.personId })');">View</a>
                        }
                    </dd>
                    <dt class="col-sm-10">
                        Tenure Type
                    </dt>
                    <dd class="col-sm-10 border border border-secondary rounded mt-2">
                        @Html.DisplayFor(model => model.tenureType.tenureType1)
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.startDate)
                    </dt>
                    <dd class="col-sm-10 border border border-secondary rounded mt-2">
                        @Html.DisplayFor(model => model.startDate)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.terminationDate)
                    </dt>
                    <dd class="col-sm-10 border border border-secondary rounded mt-2">
                        @Html.DisplayFor(model => model.terminationDate)
                    </dd>
                    <dt class="col-sm-10">
                        @Html.DisplayNameFor(model => model.terminationReasonId)
                    </dt>
                    <dd class="col-sm-10 border border border-secondary rounded mt-2">
                        @Html.DisplayFor(model => model.terminationReason.terminationReason)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="household" role="tabpanel" aria-labelledby="household-tab">
        <div class="row mt-4">
            <div class="col-md-12">
                <a class="btn btn-lg btn-primary text-white float-right mr-2" onclick="createTenancyHousehold(@Model.tenancyId)"><i class="fa fa-users"></i>&nbsp;Add Person</a>
            </div>
        </div>
        <div class="mt-4">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Person ID</th>
                            <th>Name</th>
                            <th>Relation to Lead Tenant</th>
                            <th>Relation to Join Tenant</th>
                            <th class="text-center">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var householdMember in Model.tenancyhousehold)
                        {
                            <tr>
                                <td class="text-center">
                                    @householdMember.personId
                                </td>
                                <td>
                                    @householdMember.person.firstName&nbsp;@householdMember.person.surname
                                </td>
                                <td>
                                    @householdMember.leadTenantRelationship.relationship1
                                </td>
                                <td>
                                    @householdMember.jointTenantRelationship.relationship1
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-light" onauxclick="window.open('@Url.Action("Details", "Persons", new { @id = householdMember.personId })');" onclick="window.open('@Url.Action("Details","Persons",new { @id = householdMember.personId })');">View Person</a>
                                    @if (!User.IsInRole("ReadOnly"))
                                    {
                                        <a class="btn btn-light" onclick="editTenancyHousehold(@householdMember.tenancyHouseholdId)">Edit</a>
                                        <a class="btn btn-light" onclick="showDeleteTenancyHouseholdConfirmation(@householdMember.tenancyHouseholdId)">Delete</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="rentledger" role="tabpanel" aria-labelledby="rentledger-tab">
        <div class="mt-4">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Rent Charge ID</th>
                            <th>Rent Account</th>
                            <th>Amount Due</th>
                            <th>Amount Paid</th>
                            <th>Payment Date</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rentRecord in Model.rentLedger)
                        {
                            <tr>
                                <td class="text-center">
                                    @rentRecord.rentLedgerId
                                </td>
                                <td>
                                    @rentRecord.rentAccount
                                </td>
                                <td>
                                    @rentRecord.charge
                                </td>
                                <td>
                                    @(rentRecord.amount.HasValue ? rentRecord.amount.ToString() : " - ")
                                </td>
                                <td>
                                    @(rentRecord.paymentDT.HasValue ? rentRecord.paymentDT.Value.ToString("dd/MM/yyyy") : " - ")
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-light" onclick="viewRentLedger(@rentRecord.rentLedgerId)">Details</a>                                    
                                    
                                    @if (!User.IsInRole("ReadOnly"))
                                    {
                                        <a class="btn btn-light" onclick="createPayment(@rentRecord.rentLedgerId)">Add Payment</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="alerts" role="tabpanel" aria-labelledby="alerts-tab">
        <div class="row mt-4">
            <div class="col-md-12">
                <a class="btn btn-lg btn-primary text-white float-right mr-2" onclick="createAlert(@Model.tenancyId)"><i class="fa fa-exclamation-triangle"></i>&nbsp;Create Alert</a>
            </div>
        </div>
        <div class="mt-4">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Alert ID</th>
                            <th>Type</th>
                            <th>Alert Text</th>
                            <th>Start Date</th>
                            <th class="text-center">End Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var alert in Model.alerts)
                        {
                            <tr>
                                <td class="text-center">
                                    @alert.alertId
                                </td>
                                <td>
                                    @alert.alerttype
                                </td>
                                <td>
                                    @if (alert.alertText.Length > 30)
                                    {
                                        @alert.alertText.Substring(0, 30)@:"..."
                                    }
                                    else
                                    {
                                        @alert.alertText
                                    }
                                </td>
                                <td>
                                    @alert.startDT.Value.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @(alert.endDT.HasValue ? alert.endDT.Value.ToString("dd/MM/yyyy") : "-")
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-light" onclick="viewAlert(@alert.alertId)">View</a>
                                    @if (!User.IsInRole("ReadOnly"))
                                    {
                                        <a class="btn btn-light" onclick="editAlert(@alert.alertId,@Model.tenancyId)">Edit</a>
                                        @if (User.IsInRole("HousingManager") || User.IsInRole("Admin"))
                                        {
                                            <a class="btn btn-light" onclick="confirmDeleteAlert(@alert.tenancyAlertId)">Delete</a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="actions" role="tabpanel" aria-labelledby="actions-tab">
        <div class="row mt-4">
            <div class="col-md-12">
                @if (User.IsInRole("HousingManager") || User.IsInRole("Admin"))
                {
                    <a class="btn btn-lg btn-primary text-white float-right mr-2" onclick="createAction(@Model.tenancyId)"><i class="fa fa-tasks"></i>&nbsp;Create Action</a>
                }
            </div>
        </div>
        <div class="mt-4">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Action Id</th>
                            <th>Action Type</th>
                            <th class="text-center">Assigned User</th>
                            <th class="text-center">Due Date</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var action in Model.actions)
                        {
                            <tr>
                                <td>
                                    @action.actionId
                                </td>
                                <td>
                                    @action.actionType
                                </td>
                                <td>
                                    @action.assignedUsername
                                </td>
                                <td>
                                    @action.actionDueDate.ToString("dd/MM/yyyy")
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-light" onclick="viewAction(@action.actionId)">View</a>
                                    @if (!User.IsInRole("ReadOnly"))
                                    {
                                        <a class="btn btn-light" onclick="editAction(@action.actionId, @action.tenancyId);">Edit</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
        <div class="row mt-4">
            <div class="col-md-12">
                <a class="btn btn-lg btn-primary text-white float-right mr-2" onclick="createNote(@Model.tenancyId,'TenancyNote')"><i class="fa fa-sticky-note"></i>&nbsp;Create Note</a>
            </div>
        </div>
        <div class="mt-4">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Note Id</th>
                            <th>Note Summary</th>
                            <th class="text-center">Created Date</th>
                            <th class="text-center">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var note in Model.tenancynote)
                        {
                            <tr>
                                <td class="text-center">
                                    @note.noteId
                                </td>
                                <td>
                                    @if (note.note.note1.Length > 50)
                                    {
                                        @note.note.note1.Substring(0, 50)@:"..."
                                    }
                                    else
                                    {
                                        @note.note.note1;
                                    }
                                </td>
                                <td class="text-center">
                                    @note.note.createdDT.ToString("dd/MM/yyyy")
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-light" onclick="editNote(@note.noteId, @note.tenancyId, 'TenancyNote');">Edit</a>
                                    <a class="btn btn-light" onclick="viewNote(@note.noteId)">View</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="audit" role="tabpanel" aria-labelledby="audit-tab">
        <div class="row mt-3 mb-3">
            <div class="card w-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <dl>
                                <dt class="col-sm-10">
                                    <i class="fa fa-user"></i>&nbsp;Updated By
                                </dt>
                                <dd class="col-sm-10 border border border-secondary rounded mt-2">
                                    @Html.DisplayFor(model => model.updatedByUsername)
                                </dd>
                                <dt class="col-sm-10">
                                    <i class="fa fa-user-clock"></i>&nbsp;Last updated:
                                </dt>
                                <dd class="col-sm-10 border border border-secondary rounded mt-2">
                                    @Model.updatedDT.ToString("dd/MM/yyyy hh:mm")
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl>
                                <dt class="col-sm-10">
                                    <i class="fa fa-user"></i>&nbsp;Created By:
                                </dt>
                                <dd class="col-sm-10 border border border-secondary rounded mt-2">
                                    @Html.DisplayFor(model => model.createdByUsername)
                                </dd>
                                <dt class="col-sm-10">
                                    <i class="fa fa-user-clock"></i>&nbsp;Created On:
                                </dt>
                                <dd class="col-sm-10 border border border-secondary rounded mt-2">
                                    @Model.createdDT.ToString("dd/MM/yyyy hh:mm")
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
