@model List<OpenHouse.Model.Core.Model.vwaction>

@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ddlSearchItem').change(function (e) {
                var searchItem = $(this).children("option:selected").val(); //Get selected item

                //Update placeholder text in search bar based on dropdown selection
                if (searchItem == 'Property') {
                    $('#txtSearch').attr('placeholder', 'Search by property ID or address...');
                }
                else if (searchItem == 'Tenancy') {
                    $('#txtSearch').attr('placeholder', 'Search by tenancy ID or Lead tenant name...');
                }
                else if (searchItem == 'Person') {
                    $('#txtSearch').attr('placeholder', 'Search by person ID or person name...');
                }
            });

            //Perform search on enter key press in search bar
            $("#txtSearch").keyup(function (event) {
                if (event.keyCode === 13) {
                    populateSearchResults();
                }
            });
        });

        function populateSearchResults() {
            var searchItem = $('#ddlSearchItem').val();
            var searchString = $('#txtSearch').val();
            var returnViewAction;

            var sendData = {
                searchString: searchString,
                displayType: 'search'
            };

            var sendJson = JSON.stringify(sendData);

            if (searchItem == 'Property') {
                returnViewAction = '@Url.Action("_PropertySearch","Properties")';
            }
            else if (searchItem == 'Tenancy') {
                returnViewAction = '@Url.Action("_TenancySearch","Tenancies")';
            }
            else if (searchItem == 'Person') {
                returnViewAction = '@Url.Action("_PersonSearch","Persons")';
            }

            $.ajax({
                url: returnViewAction,
                contentType: 'application/json',
                type: 'GET',
                data: sendData,
                beforeSend: function () {
                    $('#search-result').fadeOut();
                    $('#search-result').LoadingOverlay("show");
                },
                success: function (data) { //AJAX Success
                    $('#search-result').html(data); //Populate HTML from data
                    $('#search-result').LoadingOverlay("hide");
                    $('#search-result').fadeIn(); //Fade in
                },
                error: function (jqXHR, textStatus, errorThrown) { //AJAX Error
                    console.log(textStatus, errorThrown); //Log error
                    $('#search-result').LoadingOverlay("hide");
                    $('#search-result').fadeIn(); //Fade in
                    $('#search-result').html('');
                    alert('Error loading search results');
                }
            });
        }
    </script>
}
<div class="col-12">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="search-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="true">Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="actions-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="actions" aria-selected="false">My Actions <span class="badge badge-pill badge-danger">@ViewBag.OutstandingActionsCount</span></a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="search" role="tabpanel" aria-labelledby="search-tab">
            <div class="row mt-3">
                <div class="card w-100">
                    <div class="card-header">
                        <i class="fa fa-search"></i>&nbsp;Search
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" id="txtSearch" name="txtSearch" placeholder="Search by property ID or address..." class="form-control" />
                            </div>
                            <div class="col-sm-3">
                                <select id="ddlSearchItem" class="form-control float-right">
                                    <option>Property</option>
                                    <option>Tenancy</option>
                                    <option>Person</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <button id="btnSearch" onclick="populateSearchResults()" class="btn btn-primary w-100">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div id="search-result" class="w-100">
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row mt-3">
                <div class="card w-100">
                    <div class="card-header">
                        <i class="fa fa-inbox"></i>&nbsp;My Actions
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th>Tenancy Id</th>
                                        <th>Address</th>
                                        <th>Type</th>
                                        <th>Due Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var action in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.ActionLink(action.tenancyId.ToString(), "Details", "Tenancies", new { @id = action.tenancyId }, new { @class = "btn btn-link", @target = "_blank" })
                                            </td>
                                            <td>
                                                @Html.ActionLink(action.contactAddress.ToString(), "Details", "Properties", new { @id = action.propertyId }, new { @class = "btn btn-link", @target = "_blank" })
                                            </td>
                                            <td>
                                                @action.actionType
                                            </td>
                                            <td>
                                                @action.actionDueDate.ToString("dd/MM/yyyy")
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
